<!DOCTYPE html>
<html>
<head>


    <link rel="icon" href="../static/icon.png">
     
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/style.css">

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <title>Programavimas</title>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Pagrindinis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="koucingas.html">Koučingas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="programavimas.html"><div class="icon"></div>Programavimas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="apie.html">Apie</a>
        </li>
      </ul>
    </div>
  </nav>

    <header class="clear">
        <div class="center">
      
          <div class="pav">
            <h5 class="site-title">PROGRAMAVIMAS</h5>
         
          </div>
       
        </div>
     
      </header>
  
      
      <main class="main-area">
      
        <div class="center">
      
          <section class="cards">
      
            <div class="card">
           
              
                <figure class="pr">
                  <div class="picef">
                    <div class="media">
                    <div class="layer">
                    
                    <p>Python</p>
                    
                    </div>
                <img src="../static/5.jpg" alt="Python">
              </div>
            </div>
                </figure>
                <div class="card-content">
                  <h3>Python</h3>
                  <h6>„Python“ yra aukšto lygio ir bendros paskirties programavimo kalba. Kalbos konstrukcijos ir objektyvaus požiūrio tikslas - padėti programuotojams parašyti aiškų, logišką kodą mažiems ir dideliems projektams.

                    „Python“ palaiko kelias programavimo paradigmas, įskaitant struktūrinį (ypač procedūrinį), objektyvų ir funkcinį programavimą.</h6>
                </div>
            </div>

            <div class="card">
            
                <figure class="pr">
                  <div class="picef">
                    <div class="media">
                    <div class="layer">
                    
                    <p>Cascading Style Sheets</p>
                    
                    </div>
                  <img src="../static/6.jpg" alt="Life">
                </div>
              </div>
                </figure>
                <div class="card-content">
                  <h3>CSS</h3>
                  <h6>CSS (angl. Cascading Style Sheets - pakopiniai stilių šablonai) - kalba, skirta nusakyti kita struktūrine kalba aprašyto dokumento vaizdavimo. Dažniausiai CSS aprašomas HTML dokumentų pateikimas, tačiau jį galima naudoti ir įvairiems kitomis kalbomis parašytiems dokumentams</h6>
                </div>
               
            </div>
            
            <div class="card">
             
                <figure class="pr">
                  <div class="picef">
                    <div class="media">
                    <div class="layer">
                    
                    <p>C</p>
                    
                    </div>
                  <img src="../static/7.jpg" alt="Joy">
                </div>
              </div>
                </figure>
                <div class="card-content">
                  <h3>C</h3>
                  <h6>„C“ yra bendros paskirties, procedūrinė kompiuterio programavimo kalba, palaikanti struktūrizuotą programavimą, leksinio kintamojo taikymo sritį ir rekursiją, su statinio tipo sistema. Pagal konstrukciją „C“ pateikia konstrukcijas, kurios efektyviai susiejamos su tipinėmis mašinų instrukcijomis. „C“ buvo ilgalaiką naudojamas programose, kurios anksčiau buvo užkoduotos „Assembly“ kalba. Tokios programos apima operacines sistemas ir įvairią kompiuterių architektūros taikomąją programinę įrangą, pradedant superkompiuteriais ir baigiant „PLC“ bei įterptosiomis sistemomis.</h6>
                </div>
               
            </div>
      
            <div class="card">
              
                <figure class="pr">
                  <div class="picef">
                    <div class="media">
                    <div class="layer">
                    
                    <p>Structured Query Language</p>
                    
                    </div>
                  <img src="../static/8.jpg" alt="Happiness">
                </div>
              </div>
                </figure>
                <div class="card-content">
                  <h3>SQL</h3>
                  <h6>SQL (angl. Structured Query Language „struktūrizuota užklausų kalba“) yra domenui būdinga kalba, naudojama programuojant ir skirta duomenims, laikomiems reliacinių duomenų bazių valdymo sistemoje (RDBMS), valdyti arba srautams apdoroti reliacinių duomenų srautų valdymo sistemoje (RDSMS). Tai ypač naudinga tvarkant struktūrizuotus duomenis, t. y. Duomenis, apimančius subjektų ir kintamųjų ryšius.</h6>
                </div>
             
            </div>
        
        <div class="pagination">
        <h4>Skaityti daugiau</h4>
         <a href="page2.html"><button class="buton">Kitas puslapis</button></a>
  
        </div>

         
            </section>
        </div>
    </main>
</body>

</html>
